samples: "data/data.csv"

################################## not functional right now
#fill out if you only have one sample to process - the following four lines will be ignored and the information in the samples file takes precedence
ID: 
forward: 
reverse: 
SRA:
#################################

###### general section
###### the following settings will be applied to all samples unless specified otherwise in the sample file
sub: ["5000000", "10000000", "20000000", "30000000", "all"]
seed: 
Assembler: ["norgal", "getorganelle", "mitoflex", "novoplasty", "mitobim"]
Assembler_options:
    mitobim:
        iterations: 100
        circules: "best"
        non_default: "--paired --clean"
    mitoflex:
        clade: "Chordata" # options are: Mollusca,Arthropoda,Annelida,Chordata,Porifera,Platyhelminthes,Nemertea,Bryozoa,Echinodermata,Nematoda 
        code: 2 # genetic code number
        non_default: "--level debug"
    novoplasty:
        kmer: 39
        readlength: 151
        non_default: ""
    getorganelle:
        type: "animal_mt" # options are: embplant_pt/other_pt/embplant_mt/embplant_nr/animal_mt/fungus_mt/anonym/embplant_pt,embplant_mt/other_pt,embplant_mt,fungus_mt
        GO_rounds: 10
        non_default: ""
    norgal:
        non_default: "--blast"
threads:
    download: 2
    trimmomatic: 4
    trimgalore: 4
    subsample: 4
    interleave: 4
    norgal: 4
    getorganelle: 4
    mitoflex: 4
    novoplasty: 4
    mitobim: 4
    annotation: 2
    alignment: 4        

trimming:
    skip: #"yes"
    software: "trimgalore" # either "trimmomatic" or "trimgalore"
    trimgalore_options:
        parameters: "--paired --length 70 -r1 71 -r2 71 --retain_unpaired --stringency 2 --quality 30"
    trimmomatic_options:
        adapter: "/opt/conda/pkgs/trimmomatic-0.38-0/share/trimmomatic-0.38-0/adapters/TruSeq3-PE.fa"
        minlength: 40 
        windowsize: 5
        stepsize: 4
        quality: 3
        required_quality: 15
        seed_mismatches: 2
        palindrome_clip: 30
        simple_clip: 10

subsample:
    seed: 553353
